.place__paragraphs {
	gap: 26px;
	display: flex;
	margin: 48px 0 0 0;
	flex-direction: column;
	max-width: 492px;
}
@media screen and (max-width: 768px) {
	.place__paragraphs {
		margin: 32px 0 0 12px;
		gap: 25px;
	}
}
@media screen and (max-width: 320px) {
	.place__paragraphs {
		margin: 32px 0 0 12px;
	}
}
