.place__box {
  padding: 48px 0 0 0;
	max-width: 460px;
	max-height: 460px;
}

@media screen and (max-width: 1024px) {
	.place__box {
		max-width: 440px;
		max-height: 440px;
	}
}
@media screen and (max-width: 768px) {
	.place__box {
		max-width: 340px;
		max-height: 340px;
	}
}
@media screen and (max-width: 320px) {
	.place__box {
    padding: 0px;
    margin: 32px 0 0 0;
		max-width: 320px;
		max-height: 320px;
	}
}
