.cover{
  margin: 92px auto;
	max-width: 1184px;
}

@media screen and (max-width: 1024px) {
	.cover {
		margin-top: 92px;
		max-width: 1024px;
	}
}
@media screen and (max-width: 768px) {
	.cover {
		margin-top: 88px;
		max-width: 768px;
	}
}
@media screen and (max-width: 320px) {
	.cover {
		margin-top: 64px;
		max-width: 320px;
	}
}